/* Mixins */

@mixin transformaciones($transformaciones) {
    transform: $transformaciones;
    -webkit-transform: $transformaciones;
    -o-transform: $transformaciones;
    -moz-transform: $transformaciones;
}