/* Variables */
$colorPrincipal: #DFDFDF;
$colorSecundario:  #2288be;
$colorBordes: #1563e9;
$fontRoboto: 'Roboto', sans-serif;
$fontZen: 'Zen Kaku Gothic New', sans-serif;
$fondoGris: url("../multimedia/imagenes/fondo-dos.png")
