/* quienes-somos.html */

.nosotros {
    margin: 2% 20% 0% 20%;
    background-image: linear-gradient($colorPrincipal, rgb(141, 184, 248));
    color: $colorBordes;
    font-family: $fontZen;
    font-style: oblique;
    font-size: 2rem;
    line-height: 3.5rem;
    padding: 3%;
    border-style: solid;
    border-color: $colorBordes;
    border-radius: 5%;
    text-indent: 4rem;
    @media  screen and (max-width: 1030px) {
        margin: 2% 10% 0% 10%;
    }
}